h1 {
	font-family: verdana;
	font-size: 3em;
	color: #ffffff;
	margin-top: 50px;
	text-align: center;
}

body { 
	font-family: "Muli", sans-serif; 
	background-color: #165736;
}

/*svg {margin-left:auto; margin-right:auto; display: block}*/
svg {
	display: block; 
	float:left;
	margin-right: 50px;
}

path { 
	fill: #013220; 
	stroke: #165736; 
	stroke-width: 1px;
}
	
#political p{
	color:white; 
	font-size: 10pt;
}

.largeButton {
	background-color:#768d87;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.largeButton:hover {
	background-color:#6c7c7c;
}
.largeButton:active {
	position:relative;
	top:1px;
}


form {
	padding:20px;
}
